@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>How to create an appointment:</h1>
    <p class="lead">If this your first time creating an appointment please read this document on how to create an appointment.</p>
</div>

<div class="row">
        <!--class="col-md-8"-->
        <h2>Making an appointment</h2>
        <p>The first step is to click on the "Make an Appointment" in the navagation Bar</p>

        <h2>Rules on appointments</h2>
        <p>1) If a service line crosses midnight, it should be broken into 2 separate service lines from the start time to midnight, and one from the midnight to the end time.</p>
        <p>2) If a client is older than 70, then the staff must have a specialty of "Geriatrics".  Otherwise the schedule should not be created.</p>
       
        <h2>What the displays mean</h2>
        <p>When an appointment is succesfully created an entry will be added to the table below. </p>
        <!-- <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
</div>